.products{
    padding: 1rem 1rem 3rem 1rem;
}
.select-ctn{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    gap: 5px;
}
select{
    border: 0;
    border-radius: 5px;
    padding: 10px;
}
.pro-title{
    text-align: center;
    padding: 1rem;
}
.pro-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}