.hero-ctn{
    background-image: url('../../assets/hero.jpg');
    background-size: cover;
}
.hero-title{
    color: lavender;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 3rem;
}