.card-item{
    background-color: whitesmoke;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card-img{
    width: 20rem;
    padding: 1rem;
}
.card-btn-ctn{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
button{
    border: 0;
}