.recommendations{
    padding: 1rem 1rem 3rem 1rem;
}
.rec-title{
    text-align: center;
    padding: 1rem;
}
.rec-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}
.loading{
    height: 70vh;
    text-align: center;
    font-size: 2rem;
}